<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'atualiza_caneta' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {% if edita_caneta %}
        {% for caneta in edita_caneta %}

        <input type="text" name="caneta_id" value="{{ caneta.id }}" hidden>

        <div>
            <div>
                <label for="modelo" name="cemodelolular"><b>Modelo</b></label>
                <input type="text" name="modelo" value="{{ caneta.modelo }}" required>
            </div>
            <div>
                <label for="cor" name="cor"><b>Cor</b></label>
                <input type="text" name="cor" value="{{ caneta.cor }}" required>
            </div>
            <div>
                <label for="ponta" name="ponta"><b>Ponta</b></label>
                <input type="text" name="ponta" value="{{ caneta.ponta }}" required>

            </div>
        </div>

        {% endfor %}
        {% endif %}

        <div style="margin-top: 10px;">
            <button type="submit">Atualizar</button>
        </div>
    </form>
</body>

</html>