{% extends 'home.html' %}
{% load static %}

{% block title %}
Stylus Caneta
{% endblock %}

{% block content %}
{% include 'partials/_menu.html' %}

<div class="col col-lg-1" style="margin: auto auto; margin-right: -40px;">
    <a href="{% url 'lista_canetas' %}" style="color: inherit;">
        <div class="card bg-light mb-3" style="width: 20rem; border-radius: 10px;">
            <img class="card-img-top w-50 p-3 rounded mx-auto d-block"
                src="{% static 'media/img/outline_edit_black_48dp.png' %}" alt="Card image cap">
            <div class="card-body rounded mx-auto d-block">
                <h5 class="card-title">Listar Canetas</h5>
            </div>
        </div>
    </a>

    <a href="{% url 'lista_lote' %}" style="color: inherit;">
        <div class="card bg-light mb-3" style="width: 20rem; border-radius: 10px;">
            <img class="card-img-top w-50 p-3 rounded mx-auto d-block"
                src="{% static 'media/img/outline_inventory_2_black_48dp.png' %}" alt="Card image cap">
            <div class="card-body rounded mx-auto d-block">
                <h5 class="card-title">Listar Lotes</h5>
            </div>
        </div>
    </a>
</div>

<div class="col col-lg-2" style="margin: auto auto;">
    <a href="{% url 'lista_fornecedores' %}" style="color: inherit;">
        <div class="card bg-light mb-3" style="width: 20rem; border-radius: 10px;">
            <img class="card-img-top w-50 p-3 rounded mx-auto d-block"
                src="{% static 'media/img/outline_how_to_reg_black_48dp.png' %}" alt="Card image cap">
            <div class="card-body rounded mx-auto d-block">
                <h5 class="card-title">Listar Fornecedores</h5>
            </div>
        </div>
    </a>

    <a href="{% url 'lista_relatorio' %}" style="color: inherit;">
        <div class="card bg-light mb-3" style="width: 20rem; border-radius: 10px;">
            <img class="card-img-top w-50 p-3 rounded mx-auto d-block"
                src="{% static 'media/img/outline_article_black_48dp.png' %}" alt="Card image cap">
            <div class="card-body rounded mx-auto d-block">
                <h5 class="card-title">Listar Relatórios</h5>
            </div>
        </div>
    </a>
</div>

{% endblock %}